#
#  Copyright 2011-2012 Gregory Banks
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
*.log
.leaky_fixture.dat
.leaky_test.dat
.logx
d-globfunc
d-membfunc
d-namespace
reports
taddr2line
tdump
tdumpacu
tdumpacu-normalize.pl
tdumpafn
tdumpafn-normalize.pl
tdumpatype
tdumpatype-normalize.pl
tdumpdabbr
tdumpdabbr-normalize.pl
tdumpdfn
tdumpdfn-normalize.pl
tdumpdstr
tdumpdstr-normalize.pl
tdumpdvar
tdumpdvar-normalize.pl
tfilename
tinfo
tintercept
tnaequalfail
tnaequalpass
tnafail
tnafalsefail
tnafalsepass
tnanequalfail
tnanequalpass
tnannullfail
tnannullpass
tnanullfail
tnanullpass
tnapass
tnapequalfail
tnapequalpass
tnapnequalfail
tnapnequalpass
tnasequalfail
tnasequalpass
tnasnequalfail
tnasnequalpass
tnassert
tnatruefail
tnexit
tnfail
tnfdleak
tnmemleak
tnmocking
tnna
tnparallel
tnparallel.c
tnparameter
tnpass
tnsegv
tnsigill
tnsyslog
tnsyslogmatch
tntimeout
treader
tstack
