*.log
.logx
reports
t[0-9][0-9][0-9]
taddr2line
tdump
tdumpacu
tdumpafn
tdumpatype
tdumpdabbr
tdumpdfn
tdumpdvar
tdumpvar
tfilename
tinfo
tintercept
tnassert
tnexit
tnfail
tnmemleak
tnna
tnpass
tnsegv
tnsigill
tnsyslog
treader
tstack

